{{#> layouts/base bodyClass="dark-menu" title="Home | HBS" hideCallToAction=true}}

{{#*inline "content-block"}}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quaerat, optio repudiandae asperiores illum consequuntur sint vel placeat dolor autem accusamus, rem dolorem facilis quas qui quia sequi. Nihil, optio.</p>
{{/inline}}


{{/layouts/base}}
